@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
.headofsite__title {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    color: red;
    font-size: 50px;
    margin-bottom: 15px;

}
.main{
    margin: 0px;
}
.head__links {
    text-align: center;
    justify-content: space-between;
    font-size: 20px;

}
.head__links a {
    margin: 0px 5px;
    padding: 0px 0px;
}
.main__title {
    font-family: 'Niramit', sans-serif;
    text-align: center;
    color: purple;

}
.main__map{
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}
.main__writtings{
    padding-left: 10px;
    margin-bottom: 200px;
}
.main__writtings p {
    font-family: 'Niramit', sans-serif;
}
.main__writtings h1 {
    font-family: 'Chakra Petch', sans-serif;
    color: red
}
